li {
    text-align: initial;
    font-size: 1.4rem;
}

h5, li{
    font-weight: 100 !important;
}

input {
    margin: 5%;
}

h1, .btn {
    font-family: cursive !important;
}

body {
    background: white url("images/background.jpg") no-repeat fixed;
    color: white !important;
    accent-color: red;
}

label {
    font-size: 1.75rem;
    display: inline !important;
}

progress {
    margin-top: 10%;
    width: 100%;
    background: red;
}

.question-titel {
    margin: 5% 10%;
}


.btn {
    padding: 13%;
    margin-top: 3%;
}


.carousel {
    background: #495579;
    opacity: 0.92;
    text-align: center;
}

.color-description {
    text-align: center;
    color: white;
}

.carousel-item {
    text-align: left;
}

.car-inner {
    padding: 10%;
}

.red {
    background-color: #F45050;
    color: white;
}

.blue {
    background-color: #009EFF;
    color: white;
}

.yellow {
    background-color: #FBFFB1;
    color: black;
}

.white {
    background-color: white;
    color: black;
}

.end {
    margin: 5%;
    padding: 5%;
}

.col-sm {
    padding: 0;
    margin: 2% 0%;
}

.carousel-control-prev-icon {
 background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23FFD95A' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23FFD95A' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}


.logo {
    padding-left:2%;
    width: 20%;
    position: absolute;
    z-index: 1;
}